.Calculator{
    border: 1px solid black;
    background-color: aquamarine;
    height: 380px;
    width: 400;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
-webkit-box-shadow: 7px 2px 21px 14px rgba(0,0,0,0.75);
-moz-box-shadow: 7px 2px 21px 14px rgba(0,0,0,0.75);
box-shadow: 7px 2px 21px 14px rgb(13, 14, 13) ;


}
.display_box{
    background-color: antiquewhite;
    height: 56%;
    width: 98%;
    border-radius: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 20px;
}
#btn{
   background-color: rgb(43, 255, 0);
}
input[type=button]{
    font-family: monospace;
    background-color: brown;
    height: 70px;
    width: 100px;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 20px;
}
        input:active[type=button]{
            background-color: darkcyan;
        }
